// normalize
@import 'normalize.scss';
@import 'grid.scss';

// Redefinindo itens padrão do grid. Alterando margin para zero
$columns: 12;
$column-width: 100;
$gutter-width: 0;


// Com essa definição o grid se comporta com %. Para grid fixo remover esse item.
$total-width: 100%;

// Cores
$branco: #FFFFFF;
$vermelho: #EE3540;



/* FRONTEND SASS */
*{font-family: 'Varela Round', sans-serif;  }
*{margin:0; padding:0;}

html {
  overflow-y: scroll;
  font-size: 66.5%;
}
body {
	margin: 0 auto;
}



/* Mixins */
@mixin font-size($sizeValue: 16) {
  font-size: ($sizeValue) + px;
  font-size: $sizeValue/10 + rem;
}


/* LAYOUT */
.certer{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.bg-landpage{
 position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
 background: url("../img/bg-oppadak.jpg") no-repeat top center;
 background-size: cover;
}

.topo{
    width: 100%;
    .logo{
      width: 180px;
      height: 285px;
      margin-top: 0;
      float: left;
      background: url("../img/logo.jpg") no-repeat;
    }
    ul.menu{
      width: 121px;
      height: 68px;
      float: right;
      margin-top: 30px;
      li{
        list-style-type: none;
        float: left;
      }
      li.instagram{
        width: 26px;
        height: 27px;
        margin-right: 44px;
      }
      li.facebook{
        width: 50px;
        height: 25px;
        
      }
      li.curta{
        margin-top: 19px;

      }
    }
}
.conteudo{
  width: 100%;
  clear: both;
  .texto{
      width: 96%;
      padding: 2%;
      img{
        max-width: 597px;
        width: 100%;
        margin: 0 auto;
        display: block;
      }
  }
  .gif {
      height: 175px;
      margin: 0 auto;
      display: table;
      background: url("../img/temperatura.png") no-repeat 77% 78%;
      img{
        width: 100%;
      }
  }
}
 @media (max-width: 1200px) { 
  .certer {
    width: 90%;
  }
    .conteudo{
        .anucio{
          max-width: 346px;
        }
    }

 }
 @media (max-width: 352px) { 
    .topo{
      .logo{
        margin-left: 16%;
        display: block;
      }
      ul.menu {
          margin-left: 27%;
          margin: 0 auto;
          float: none !important;
           li.curta{
             margin-bottom: 30px;
           }
      }
    }
    .conteudo .texto {
        width: 90%;
        padding: 5%;
    }
 }